    <header class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-utensils" id="home"></i>
            </a>
            <a class="navbar-brand logo">
                Restaurateur 
                <i class="fas fa-seedling"></i>
                {{!-- <i class="fas fa-coffee"></i> --}}
            </a>
            <a class="navbar-brand signOut" href="/">
                <i class="fas fa-sign-out-alt" id="logOut"></i>
            </a>
        </div>
    </header>