<header class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fas fa-utensils" id="home"></i>
        </a>
        {{!-- //Toggle button --}}
        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Menu</span>
            </button>
        </div>
        <a class="navbar-brand logo">
            Restaurateur
            <i class="fas fa-seedling"></i>
            {{!-- <i class="fas fa-coffee"></i> --}}
        </a>
        <a class="navbar-brand signOut" href="/">
            <i class="fas fa-sign-out-alt" id="logOut"></i>
        </a>
    </div>
</header>