<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Manager Admin</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#empSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employees</a>
                <ul class="collapse list-unstyled" id="empSubmenu">
                    <li>
                        <a href="/manager">View Employees</a>
                    </li>
                    <li>
                        <a href="/manager/newEmployee">Add Employees</a>
                    </li>
                    <li>
                        <a href="#">Remove Employees</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#menuSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menu</a>
                <ul class="collapse list-unstyled" id="menuSubmenu">
                    <li>
                        <a href="#">Add dish</a>
                    </li>
                    <li>
                        <a href="#">Remove dish</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#ingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ingredients</a>
                <ul class="collapse list-unstyled" id="ingSubmenu">
                    <li>
                        <a href="#">View Ingredients</a>
                    </li>
                    <li>
                        <a href="#">Add Ingredients</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#sectionMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sections</a>
                <ul class="collapse list-unstyled" id="sectionMenu">
                    <li>
                        <a href="/chef">chef</a>
                    </li>
                    <li>
                        <a href="waiter">Waiter</a>
                    </li>
                    <li>
                        <a href="/ingredients">Ingredients</a>
                    </li>
                </ul>
            </li>
           
        </ul>
    </nav>
      {{!-- //Toggle button --}}
    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Menu</span>
            </button>

        </div>
    </nav>
</div>