<!DOCTYPE html>
<html lang="en">

<head>
    <title>Restaurateur</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/54099578c7.js" crossorigin="anonymous"></script>
    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-utensils"></i>
            </a>
            <a class="navbar-brand signOut" href="#">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </nav>
    {{{body}}}
    <footer class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">
                {{hbsObject}}
            </span>
        </div>
    </footer>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <script src="/assets/js/main.js"></script>
</body>

</html>