<article class="login">
    <div class="container containerLogin">
    <div class="pinBox">
        <div class="pincode-input-container">
            <input type="text" pattern="[0-9] " maxlength="1" autocomplete="off" placeholder="•"
                class="form-control pincode-input-text pincode-input-text-masked" id="first">
            <input type="text" maxlength="1" autocomplete="off" placeholder="•"
                class="form-control pincode-input-text pincode-input-text-masked" id="mid1">
            <input type="text" maxlength="1" autocomplete="off" placeholder="•"
                class="form-control pincode-input-text pincode-input-text-masked" id="mid2">
            <input type="text" maxlength="1" autocomplete="off" placeholder="•"
                class="form-control pincode-input-text pincode-input-text-masked" id="last">
        </div>
        <button class="btn btn-primary" id="pinSubmit" type="submit">Submit</button>
    </div>
</div>
</article>

<script type="text/javascript" src="/assets/js/login.js"></script>