<article>
    <div class="container containerWaiter">
        <div class="row">
            <div class="col-md-6 tablesLayout">
                <h1>Tables</h1>
                <button type="button" class="btn btn-secondary tableBtn tbl1">1</button>
                <button type="button" class="btn btn-secondary tableBtn tbl2">2</button>
                <button type="button" class="btn btn-secondary tableBtn tbl3">3</button>
                <br>
                <button type="button" class="btn btn-secondary tableBtn tbl4">4</button>
                <button type="button" class="btn btn-secondary tableBtn tbl5">5</button>
                <button type="button" class="btn btn-secondary tableBtn tbl6">6</button>
            </div>
            
            <div class="col-md-6 menu">
                <h1>Menu</h1>
                <div></div>
            </div>
        </div>
    </div>
             
       
        
        
        
</article>
       
    


<script type="text/javascript" src="assets/js/waiters.js"></script>