<article>
    <div class="container containerWaiter">
        <div class="row">
            <div class="col-md-6 tablesLayout">
                <h1>Tables</h1>
                <div class="actualTables">
                  <button type="button" class="btn btn-primary tableBtn tbl1">1</button>
                  <button type="button" class="btn btn-primary tableBtn tbl2">2</button>
                  <button type="button" class="btn btn-primary tableBtn tbl3">3</button>
                  <br>
                  <button type="button" class="btn btn-primary tableBtn tbl4">4</button>
                  <button type="button" class="btn btn-primary tableBtn tbl5">5</button>
                  <button type="button" class="btn btn-primary tableBtn tbl6">6</button>
                </div>
            </div>

            
            <div class="col-md-6 menu">
                <h1>Menu</h1>
                <div class="options"></div>
            </div>
        </div>
    </div>   
        
        
</article>



<script type="text/javascript" src="assets/js/waiters.js"></script>